[[extend 'layout.html']]

<head>
   <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<style>
div#description{
   background-color: white;
   text-align: center;
   width: 60%;
   padding: 20 px;
}
div#picture{
   text-align: center;
   width: 10%;
   margin: 50px auto;
}
</style>

<div class="section" is-mobile>
   <!-- Put the table here -->
   <div clas="container" id="menu+edit">
      <div class="columns is-full-width is-mobile">
         <div class="column is-one-fifth">
            <button>
               <span class="icon">
                  <i class="fas fa-bars"></i>
               </span>
            </button>
         </div>
         <div class="column is-offset-8">
            <button>
               <span class="icon">
                  <i class="fas fa-pencil-alt"></i>
               </span>
            </button>
         </div>
      </div>
   </div>

   <div class="'container" id="picture">
      <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="Girl in a jacket" width="500" height="600">
   </div>
   <div class="container" id="description">
      <div class="box is-mobile">
         <p>This is an example of a Bio. I am a Cognitive Science Major from Oakes College. Super excited to meet new people and I am looking to meet up with people who play sports. </p>
      </div>
   </div>

   <div class="container">
      <div class="box has-text-centered is-centered" id="buttonInterests">
         <button class="button is-info is-rounded" >
            Interest1
         </button>
         <button class="button is-info is-rounded" >
            Interest2
         </button>
         <button class="button is-info is-rounded" >
            Interest3
         </button>
         <button class="button is-info is-rounded" >
            Interest4
         </button>
      </div>
   </div>

</div>
