[[extend "layout.html"]]

<style>
  .auth-container {
    max-width: 80%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: 20px;
  }
  .foo {
    background-color: #eeee;
    width: 500px;
    align-content: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px 5px #C2C2C2;
  }

  
</style>


<section class="section">
  <div class="section - foo">
    <center><img src="logo.png" width="225px"></center>
  </br>
  <h3 class="subtitle">
    <center>Please Login or Sign Up to Continue</center>
  </h3>
    [[=form]]
  </div>
</section>
