[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>

<!--CSS For Style -->
<style>
  .body {
    background-color: #eeee;
  }
</style>

<style>
  .section-foo {
    background-image: url(https://images.unsplash.com/photo-1610924678300-6c708859467e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 500px;
    background-color: #eeee;

  }
</style>

<style>
  .block-foo {
    background-color: #eeee;
  }
</style>
<style>
  .section-fo {
    background-color: #eeee;
  }
</style>
<!--CSS For Style -->

<div class="body">
  <!--HERO SECTION (image & search bar)-->
  <div class="section-foo">
    <section class="hero-foo is-info is-fullheight">
      <div class="hero-body is-info">
        <div class="container has-text-centered">
          <div class="column is-6 is-offset-3">
            <h1 class="title">
              <b>Welcome to UCSC Activity Finder</b>
            </h1>
            </br>
            <h1 class="subtitle">
              <b>Connect with fellow students to find activities, go on adventures, and meet new people!</b>
            </h1>
            </br>
            <div class="box">
              <div class="field is-grouped">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="Search For An Activity">
                </p>
                <p class="control">
                  <a class="button is-dark">
                    Search
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class = "section">
    <h1 class="title">
      <b><center>How it Works</center></b>
    </h1>
    </br>
    <h1 class="subtitle">
      <center>
      1) Post an activity you want to participate in. Make sure to include the date, time, and any additional details.
    </br></br>
      2) When someone is interested in your activity, they will select the going button and their name will be displayed.
    </br></br>
      3) Enjoy your activity and new friends!
    </center>
    </h1>
  </div>
  <!--HERO SECTION (image & search bar)-->

  <!--Activities Posted Header -->
  <div class="block-foo">
    </br></br></br>
    <div class="columns">
      <div class="column">
        <div class="container is-fullhd">
          <div class="notification is-dark">
            <b>Popular Activities Happening This Week</b>
          </div>
        </div>
      </div>
      <div class="column">
      </div>
      <div class="column">
      </div>
    </div>
  </div>

  <div class="section" id="vue-target" v-cloak>
    <!-- Put here your Vue.js template -->
    <div v-if="add_mode" class="container block">
      <div class="title">Add Posts</div>
      <div class="form">
        <!-- This looks like a form, but is not.  We just need the inputs. -->
        <div class="field">
          <label class="label">Post:</label>
          <div class="control">
            <p>Date:</p><input type="date" v-model="add_date" class="input">
            <p>Time:</p> <input type="time" v-model="add_time" class="input">
            <p>Location:</p><input type="location" v-model="add_location" class="input">
            <p>Event Information:</p><input type="text" v-model="add_text" class="input">
            <p>Tags:</p><input type="tag1" v-model="add_tag1" class="input">
            <p><input type="tag2" v-model="add_tag2" class="input"></p>
            <p><input type="tag3" v-model="add_tag3" class="input"></p>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input type="submit" @click="add_post" value="Add" class="button is-primary"> <!-- add_post and add_tags onclick? -->
            <input type="submit" @click="set_add_status(false)" value="Cancel" class="button is-warning">
          </div>
        </div>
      </div>
    </div>

    <!-- will contain the posts -->
    <div class="container block">
      <div class="block">
        <button @click="set_add_status(true)" class="button is-dark align: right">
          <i class="fa fa-plus fa-fw"></i> Post An Activity
        </button>
      </div>
      <table class="table is-striped is-fullwidth">
        <div v-for="r in rows">
          <div class="block">
            <div class="box">
              <div class="card-content">
                <div class="content">
                  <h4><b>Location:</b> {{r.location}}</h4>
                  <p><b>Date:</b> {{r.date}}</p>
                  <p><b>Time:</b> {{r.time}}</p>
                  <p><b>Event Information:</b> {{r.text}}</p>
                  <p><b>Hosted By:</b> {{r.name}}</p>
                  <p><b>Tags:</b> {{r.tag1}} {{r.tag2}} {{r.tag3}}</p>
                  <p><b>Going:</b> {{r.going}}</p>
                </div>
                <div class="">
                  <!-- code for delete -->
                  <span>
                    <div v-if="current_user_id==r.poster">
                      <button @click="delete_post(r._idx)" class="button is-danger is-pulled-right"
                        @mouseenter="show_going(true, r._idx)" @mouseleave="show_going(false)"> 
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </span>
                  <span v-if="current_user_id!=r.poster">
                    <div class="button is-link"> 
                      <span @click="is_going(r._idx)">Going</span>
                    </div>
                    <div class="button is-link">
                      <span @click="is_not_going(r._idx)">Not Going</span>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </br>
        </div>
    </div>
  </div>

  [[block page_scripts]]
  <!-- Loads the index-specific js for Vue -->
  <script>
    let my_callback_url = "[[=XML(my_callback_url)]]";
    let load_posts_url = "[[=XML(load_posts_url)]]";
    let add_post_url = "[[=XML(add_post_url)]]";
    let add_tags_url = "[[=XML(add_tags_url)]]";
    let delete_post_url = "[[=XML(delete_post_url)]]";
    let user_email = "[[=XML(user_email)]]";
    let username = "[[=XML(username)]]";
    let update_going_url = "[[=XML(update_going_url)]]";
    let update_not_going_url = "[[=XML(update_not_going_url)]]";
    let get_going_url = "[[=XML(get_going_url)]]";
  </script>
  <script src="js/index.js"></script>
  [[end]]