[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>

<!--CSS For Style -->
<style>
  .body {
    background-color: #eeee;
  }
</style>

<style>
  .section-foo {
    background-image: url(https://images.unsplash.com/photo-1610924678300-6c708859467e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 500px;
    background-color: #eeee;

  }
</style>

<style>
  .block-foo {
    background-color: #eeee;
  }
</style>
<style>
  .section-fo {
    background-color: #eeee;
  }
</style>
<!--CSS For Style -->

<div class="body">
  <!--HERO SECTION (image & search bar)-->
  <div class="section-foo">
    <section class="hero-foo is-info is-fullheight">
      <div class="hero-body is-info">
        <div class="container has-text-centered">
          <div class="column is-6 is-offset-3">
            <h1 class="title">
              <b>Welcome to UCSC Activity Finder</b>
            </h1>
            </br>
            <h1 class="subtitle">
              <b>Connect with fellow students to find activities, go on adventures, and meet new people!</b>
            </h1>
            </br>
            <div class="box">
              <div class="field is-grouped">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="Search For An Activity">
                </p>
                <p class="control">
                  <a class="button is-dark">
                    Search
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--HERO SECTION (image & search bar)-->

  <!--Activities Posted Header -->
  <div class="block-foo">
    </br></br></br>
    <div class="columns">
      <div class="column">
        <div class="container is-fullhd">
          <div class="notification is-dark">
            <b>Popular Activities Happening This Week</b>
          </div>
        </div>
      </div>
      <div class="column">
      </div>
      <div class="column">
      </div>
    </div>
  </div>
  
  <div class="section" id="vue-target" v-cloak>
    <!-- Put here your Vue.js template -->
    <div v-if="add_mode" class="container block">
      <div class="title">Add Posts</div>
      <div class="form">
        <!-- This looks like a form, but is not.  We just need the inputs. -->
        <div class="field">
          <label class="label">Post:</label>
          <div class="control">
            <p>Date:</p><input type="date" v-model="add_date" class="input">
            <p>Time:</p> <input type="time" v-model="add_time" class="input">
            <p>Location:</p><input type="location" v-model="add_location" class="input">
            <p>Event Information:</p><input type="text" v-model="add_text" class="input">
            <!-- dropdown code -->
            <div class="field">
              <br>
              <label class="label">Tags</label>
              <div class="control">
                <div class="select">
                  <select>
                    <option>C9</option>
                    <option>C10</option>
                    <option>Porter</option>
                    <option>RCC</option>
                    <option>Oakes</option>
                    <option>Cowell</option>
                    <option>Stevenson</option>
                    <option>Kresge</option>
                    <option>Merrill</option>
                    <option>Crown</option>
                    <option>Beach</option>
                    <option>Art</option>
                    <option>Sports</option>
                    <option>Music</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- dropdown code ends -->
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input type="submit" @click="add_post" value="Add" class="button is-primary">
            <input type="submit" @click="set_add_status(false)" value="Cancel" class="button is-warning">
          </div>
        </div>
      </div>
    </div>

    <!-- will contain the posts -->
    <div class="container block">
      <button @click="set_add_status(true)" class="button is-dark align: right">
          <i class="fa fa-plus fa-fw"></i> Post An Activity
        </button>
      <table class="table is-striped is-fullwidth">
        <div v-for="r in rows">
          <div class="box">
            <p><b>Date:</b> {{r.date}}</p>
            <p><b>Time:</b> {{r.time}}</p>
            <p><b>Location:</b> {{r.location}}</p>
            <p><b>Event Information:</b> {{r.text}}</p>
            <p><b>Name:</b> {{r.name}}</p>
            <p><b>Tags:</b></p>
            <p><b>Going:</b> {{r.going}}</p>
            
            <!-- code for thumbs -->
            <span>
              <div v-if="r.is_going">
                <button @click="is_going(r._idx)">Going</button>
              </div>
              <div v-else>
                <button @click="is_going(r._idx)">Not Going</button>
              </div>
              <!-- <i class="fa fa-thumbs-o-up"></i>
              <i class="fa fa-thumbs-o-down"></i> -->
            </span>
            <!-- <i class="fa fa-thumbs-up"></i> <i class="fa fa-thumbs-o-up"></i>
            <i class="fa fa-thumbs-down"></i> <i class="fa fa-thumbs-o-down"></i> -->
            <!-- code for delete -->
            <span>
              <div v-if="current_user_id==r.poster">
                <button @click="delete_post(r._idx)" class="button is-danger is-pulled-right" @mouseenter="show_going(true, r._idx)" @mouseleave="show_going(false)">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </span>

          </div>
        </div>
        
    </div>
  </div>
</div>





[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let my_callback_url = "[[=XML(my_callback_url)]]";
  let load_posts_url = "[[=XML(load_posts_url)]]";
  let add_post_url = "[[=XML(add_post_url)]]";
  let delete_post_url = "[[=XML(delete_post_url)]]";
  let user_email = "[[=XML(user_email)]]";
  let username = "[[=XML(username)]]";
  let update_going_url = "[[=XML(update_going_url)]]";
  let get_going_url = "[[=XML(get_going_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]