[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>

<!--CSS For Style -->
<style>
  .body {
    background-color: #eeee;
  }
</style>

<style>
  .section-foo {
    background-image: url(https://images.unsplash.com/photo-1610924678300-6c708859467e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 500px;
    background-color: #eeee;

  }
</style>

<style>
  .block-foo {
    background-color: #eeee;
  }
</style>
<style>
  .section-fo {
    background-color: #eeee;
  }
</style>
<!--CSS For Style -->

<div class="body">
  <!--HERO SECTION (image & search bar)-->
  <div class="section-foo">
    <section class="hero-foo is-info is-fullheight">
      <div class="hero-body is-info">
        <div class="container has-text-centered">
          <div class="column is-6 is-offset-3">
            <h1 class="title">
              <b>Welcome to UCSC Activity Finder</b>
            </h1>
            </br>
            <h1 class="subtitle">
              <b>Connect with fellow students to find activities, go on adventures, and meet new people!</b>
            </h1>
            </br>
            <div class="box">
              <div class="field is-grouped">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="Search For An Activity">
                </p>
                <p class="control">
                  <a class="button is-dark">
                    Search
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--HERO SECTION (image & search bar)-->

  <!--Activities Posted Header -->
  <div class="block-foo">
    </br></br></br>
    <div class="columns">
      <div class="column">
        <div class="container is-fullhd">
          <div class="notification is-dark">
            <b>Popular Activities Happening This Week</b>
          </div>
        </div>
      </div>
      <div class="column">
      </div>
      <div class="column">
      </div>
    </div>
  </div>
  
  <div class="section" id="vue-target" v-cloak>
    <!-- Put here your Vue.js template -->
    <div v-if="add_mode" class="container block">
      <div class="title">Add Posts</div>
      <div class="form">
        <!-- This looks like a form, but is not.  We just need the inputs. -->
        <div class="field">
          <label class="label">Post:</label>
          <div class="control">
            <p>Date:</p><input type="date" v-model="add_date" class="input">
            <p>Time:</p> <input type="time" v-model="add_time" class="input">
            <p>Location:</p><input type="location" v-model="add_location" class="input">
            <p>Event Information:</p><input type="text" v-model="add_text" class="input">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input type="submit" @click="add_post" value="Add" class="button is-primary">
            <input type="submit" @click="set_add_status(false)" value="Cancel" class="button is-warning">
          </div>
        </div>
      </div>
    </div>

    <!-- will contain the posts -->
    <div class="container block">
      <table class="table is-striped is-fullwidth">
        <div v-for="r in rows">
          <div class="box">
            <p><b>Date:</b> {{r.date}}</p>
            <p><b>Time:</b> {{r.time}}</p>
            <p><b>Location:</b> {{r.location}}</p>
            <p><b>Event Information:</b> {{r.text}}</p>
            <p><b>Name:</b> {{r.name}}</p>
            <!-- code for thumbs -->
            <span>
              <i class="fa fa-thumbs-o-up"></i>
              <i class="fa fa-thumbs-o-down"></i>
            </span>
            <!-- <i class="fa fa-thumbs-up"></i> <i class="fa fa-thumbs-o-up"></i>
          <i class="fa fa-thumbs-down"></i> <i class="fa fa-thumbs-o-down"></i> -->
            <!-- code for delete -->
            <span>
              <button @click="delete_post(r._idx)" class="button is-danger is-pulled-right">
                <i class="fa fa-trash"></i>
              </button>
            </span>

          </div>
        </div>
        <button @click="set_add_status(true)" class="button is-dark align: right">
          <i class="fa fa-plus fa-fw"></i> Post An Activity
        </button>
    </div>
  </div>
</div>





[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let my_callback_url = "[[=XML(my_callback_url)]]";
  let load_posts_url = "[[=XML(load_posts_url)]]";
  let add_post_url = "[[=XML(add_post_url)]]";
  let delete_post_url = "[[=XML(delete_post_url)]]";
  let user_email = "[[=XML(user_email)]]";
  let username = "[[=XML(username)]]";
</script>
<script src="js/index.js"></script>
[[end]]